.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: calc(100vh - 50px);

}

.left-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    border: 1px solid black;

}

.img-container {
    width: 320px;
    height: 320px;
    border: 4px solid #3B82F6;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;


}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    border: 1px solid black;
    flex-direction: column;

}

.intro-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.contact-info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}