.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #0F172A, #1E3A8A);
    padding: 12px 14px;


}

.logo {
    color: #BFDBFE;
    font-size: 22px;
    font-weight: bold;
}

/* Desktop */
.menu {
    display: block;

}

.menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu li a {
    text-decoration: none;
    color: #F8FAFC;

}

.menu li a:hover {
    color: #BFDBFE;
    transition: 0.1s;
}

.menu-btn {
    display: none;
}

/* Mobile */
@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 20px;
        flex-wrap: wrap;
    }

    .menu-btn {
        display: block;


    }

    .menu {
        display: none;
        width: 100%;
    }

    .menu.active {
        display: block;
    }

    .menu ul {
        flex-direction: column;
        gap: 15px;
    }
}