#skills {
    width: 100%;
    height: 100%;
    padding: 50px 0;
    background:
        radial-gradient(circle at top right, #BFDBFE 0%, transparent 35%),
        radial-gradient(circle at bottom left, #93C5FD 0%, transparent 30%),
        #F8FBFF;
}

.skills_container {
    padding: 80px 0;
}

.skills_header {
    text-align: center;
    position: relative;
    padding-bottom: 25px;
}

.skills_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.skills_header::after {
    content: "";
    width: 80px;
    height: 4px;
    background: #3B82F6;
    display: block;
    margin: 15px auto 0;
    border-radius: 10px;
}

.skills_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.frontend_section,
.backend_section {
    background: #fff;
    border-radius: 16px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Tablet + Mobile */
@media (max-width: 768px) {

    .skills_container {
        padding: 60px 0;
    }

    .skills_content {
        grid-template-columns: 1fr;
        gap: 25px;
        margin-top: 35px;
    }

    .frontend_section,
    .backend_section {
        padding: 25px 15px;
    }

    .skills_list {
        gap: 15px;
    }
}


/* Small Mobile */
@media (max-width: 480px) {

    .skills_container {
        padding: 50px 0;
    }

    .skills_content {
        gap: 20px;
        margin-top: 25px;
    }

    .frontend_section,
    .backend_section {
        padding: 20px 10px;
        border-radius: 12px;
    }

    .skills_list {
        gap: 12px;
    }
}